body {
  background-color: #0a003b;
  font-family: Montserrat;
  font-size: 14px;
  color: white;
}

#loanForm {
  background-color: #140077;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0px 0px 8px white;
}

hr,
input {
  width: 100%;
  margin: 12px 0px;
}

input {
  border: 1px solid white;
  padding: 12px 24px;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  box-shadow: 0px 0px 8px white;
  outline: none;
}

select {
  align-self: flex-start;
  border: 1px solid white;
  padding: 12px;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  font-family: Montserrat;
  border-radius: 4px;
  font-size: 14px;
}

option {
  background-color: #140077;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #0a003b;
}

#outterModal {
  position: fixed;
  top: 0;
  background-color: #0a003b70;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#innerModal {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px white;
}

.disabled {
  background-color: #555555d1;
}

li {
  color: white ;
  display: inline-block;
}

a {
  text-decoration: none;
  color: white ;
  padding: 10px;
}